{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>BusBooking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BusBooking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<body>
	<div style="margin: 20px;"><h5>List of Routes and Timings</h5></div>
    <div class="row" style="margin: 10px">
<!--         {% for data in context.query%}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %} -->
<!--         <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div> -->
        <table class="table table-striped">
            <tr>
                <th style="font-size: 10px;">Source</th>
                <th style="font-size: 10px;">Destination</th>
                <th style="font-size: 10px;">Passenger seats avaliable</th>
                <th style="font-size: 10px;">Per Passenger seat price</th>
                <th style="font-size: 10px;">Departure Location</th>
                <th style="font-size: 10px;">Arrival Location</th>
                <th style="font-size: 10px;">Departure Time</th>
                <th style="font-size: 10px;">Arrival Time</th>
                <th style="font-size: 10px;">Select</th>
            </tr>
            {% for object in context.query %}
            <tr>
                <td style="font-size: 10px;">{{ object.service.source }}</td>
                <td style="font-size: 10px;">{{ object.service.destination }}</td>
                <td style="font-size: 10px;">{{ object.service.passanger_capacity }}</td>
                <td style="font-size: 10px;">{{ object.service.per_passanger_price }}</td>
                <td style="font-size: 10px;">{{ object.service.souce_bus_stand_location }}</td>
                <td style="font-size: 10px;">{{ object.service.destination_bus_stand_location }}</td>
                <td style="font-size: 10px;">{{ object.departure_time }}</td>
                <td style="font-size: 10px;">{{ object.desstination_time }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>